Pygments==2.3.1
requests==2.21.0
termcolor==1.1.0
lxml==4.6.3
beautifulsoup4==4.7.1
future==0.17.1
pytest==5.0.1
pytest-pep8==1.0.6
pytest-cov==2.7.1
pytest-pylint==0.14.1
Click==7.0
PyInquirer==1.0.3